html {
    scroll-behavior: smooth;
}

/* navigation bar starts */
.navbar-brand {
        color: #ffffff;
        border-radius: 3px;
        padding: 5px;
        font-family: monospace;
        font-size: 150%;
}

.navbar-brand:hover {
        background-color: #ffffff;
        color: #000000;
        transition: 0.2s;
}

.navbar-toggler  {
    color: white;
    background-color: #1f8b7e;
}


.navbar-toggler:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

ul {
    list-style: none;
}

i {
    font-size: 150%;
}

i:hover {
    color: #000000;
}

.navcolor {
    background-color: #1f8b7e;
    border-radius: 5px;
    opacity: 1;
    font-weight: 400;
}

.nav-link {
    margin-left: 6px;
    margin-right: 4px;
}

#navbarNavDropdown ul li a {
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

#navbarNavDropdown ul li a:hover {
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    transition: 0.2s;
}

 #dropped {
    background-color: #1f8b7e;
    color: #ffffff;
}

.contactnav li i {
    border-radius: 5px;
}



/* navigation bar ends */


body{
			overflow-x: hidden;
			background-image: url(resources/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg);
			background-size: cover;
			background-attachment: fixed!important;
			overflow-y: scroll;
			background-repeat: no-repeat;
		}

h1{
    margin-top: 700px;
    background-color: aqua;
    color: white;
}


